<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springProject.subProject.mapper.MapperSearch">

<select id="selectProducListCount" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM product
      WHERE pd_name LIKE #{keyword}
   </select>
   
<select id="selectProductList" resultType="com.springProject.subProject.vo.ProductVO">
		SELECT * FROM product
		WHERE pd_name LIKE #{keyword}
	</select>


</mapper>